{% extends 'modelo_serv.html' %}
{% load crispy_forms_tags %}

{% block titulo %}
    <title>Cadastro de Alimentos</title>
{% endblock %}

{% block cabecalho %}
    <h3 class="container text-center p-2">Cadastro de Alimentos</h3>
{% endblock %}
    
{% block campos %}    
    <div class="row">
        <div class="col-auto col-md-6 form-white mb-3">
            {{form_alimento.nome|as_crispy_field}}
        </div>
        <div class="col-auto d-flex align-items-center py-2 form-white">
            <button class="btn btn-lg  btn-primary font-black" type="submit">Salvar</button>
        </div>
    </div>
{% endblock %} 
     
{% block cabecalho_tabela %}
    <thead>
        <tr>
            <th scope="col" colspan="3">Alimentos</th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
        </tr>
    </thead>
{% endblock %}

{% block conteudo_tabela %}
    <tbody>
        {% for alimento in alimentos %}
            <tr>
                <td>{{alimento.id}}</td>
                <td>{{alimento.nome}}</td>
                <td>
                    <a class="btn btn-sm btn-block btn-warning font-black" 
                    href={% url 'atualizar_alimentos' alimento_id=alimento.id %}>Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
                        
{% endblock %}    


            
   

